body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: gray;
}

header {
    text-align: center;
    font-size: 60px;
}

h2 {
    font-size: 35px;
    margin-top: 5%;
}

.intro {
    font-size: 30px;
    text-align: left;
}

.outro {
    font-size: 30px;
}

.img_pos {
    float: left;
    border: solid black;
    margin-right: 5%;
    border-radius: 50%;
}

.link {
    background-color: pink;
    font-size: 30px;
    text-align: center;
    
}